<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class=" main-header">
        <div class="main-header-top-bar">
            <img src="images/logo-mercado-liebre.svg"  class="logo" alt="">
        <div class="container-search">
        <form action="" method="get" class="search-form">
          <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
          <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="title-header">
      <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>comprá en coutas y sin tarjecta de creditos</h2>
    </div>
    </div>
   

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>

            
<nav class="main-navbar">
    <ul class ="left-navbar" >
        <li>
            <a href="">oferta</a> </li>
        <li>
            <a href="">tienda oficiales </a></li>
        <li>
            <a href="">vender</a> </li>
        <li>
            <a href="">ayuda</a> </li>

    </ul>
    <ul class =" rigth-navbar">
        <li>
            <a href="/register">crea tu cuenta   </a><i class="far fa-address-card"></i>
        </li>
        <li>
            <a href="/login">ingresa </a><i class="fas fa-sign-in-alt"></i>
        </li>
        <li>
            <a href="">mis compras  </a><i class="fas fa-shopping-basket"></i>
        </li>

    </ul>

</nav>


    </header>
    <div class="banner "><img src="images/img-home-banner.jpg" width="100%" alt="banner con oferta"></div>

    <main class="home">
        <section class="card-viseted">
            <h3 class="section-title">Basado en tu ultima visita</h3>

            <article class="card">
                <img
                  src="images/img-cafetera-moulinex.jpg"
                  width="100%"
                  alt="Foto de cafetera Moulinex"
                />
                <div class="card-content">
                  <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                  </div>
                  <hr>
                  <div class="product-info">
                    <p class="product-price">$6.770</p>
                    <p class="product-descuento"> <span>40% OFF</span>
                        </p>
                  </div>
                  <h5 class="product-name">Cafetera Moulinex</h5>
                </div>
              </article>
      

              <article class="card">
                
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="foto.MacBook">

                
                <div class="card-content">
                  <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                 
                  </div>
                  <hr>
                  <div class="product-info">
                    <p class="product-price">$230.000</p>
                <p class="product-descuento"><span>20% OFF</span></p>
                  </div>
                  <h5 class="product-name">MacBook Pro 2019</h5>
                </div>
              </article>
      
              <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="foto.Samsung S10">
               
                <div class="card-content">
                  <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                  </div>
                  <hr>
                  <div class="product-info">
                    <p class="product-price">$70.500</p>
                    <p class="product-descuento"><span>10% OFF</span></p>
                  </div>
                  <h5 class="product-name">Samsung Galaxy s10</h5>
                </div>
              </article>
      
              <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="foto.Tv 43">

                <div class="card-content">
                  <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                  </div>
                  <hr>
                  <div class="product-info">
                    <p class="product-price">$23.200</p>
                    <p class="product-descuento"><span>5% OFF</span></p>
                  </div>
                  <h5 class="product-name">SmartTv Samsung 43</h5>
                </div>
              </article>
      


        </section>
        <section class="sales">
            <h3 class="section-title"> Ofertas</h3>
            <article class="card">
                <img
                  src="images/img-cafetera-moulinex.jpg"
                  width="100%"
                  alt="Foto de cafetera Moulinex"
                />
                <div class="card-content">
                  <div class="icon-truck">
                    <i class="fas fa-truck"></i>

                  </div>
                  <hr>
                  <div class="product-info">
                    <p class="product-price">$6.770</p>
                    <p class="product-descuento">40% OFF</p>
                  </div>
                  <h5 class="product-name">Cafetera Moulinex</h5>
                </div>
              </article>
      

              <article class="card">
                
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="foto.MacBook">

                
                <div class="card-content">
                  <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                  </div>
                  <hr>
                  <div class="product-info">
                    <p class="product-price">$230.000</p>
                <p class="product-descuento"><span>20% OFF</span></p>
                  </div>
                  <h5 class="product-name">MacBook Pro 2019</h5>
                </div>
              </article>
      
              <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="foto.Samsung S10">
               
                <div class="card-content">
                  <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                  </div>
                  <hr>
                  <div class="product-info">
                    <p class="product-price">$70.500</p>
                    <p class="product-descuento"><span>10% OFF</span></p>
                  </div>
                  <h5 class="product-name">Samsung Galaxy s10</h5>
                </div>
              </article>
      
              <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="foto.Tv 43">

                <div class="card-content">
                  <div class="icon-truck">
                    <i class="fas fa-truck"></i>
                  </div>
                  <hr>
                  <div class="product-info">
                    <p class="product-price">$23.200</p>
                    <p class="product-descuento"><span>5% OFF</span></p>
                  </div>
                  <h5 class="product-name">SmartTv Samsung 43</h5>
                </div>
              </article> 



        </section>

    </main>
    <footer>
        <article class="footer-article">  
            <i class="fas fa-credit-card"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer-article" >
            <i class="fas fa-gift"></i>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer-article">
            <i class="fas fa-user-shield"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
          <br>      
        <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>

</html>