<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="body-register">
    <header class=" main-header">
        <div class="main-header-top-bar">
            <img src="images/logo-mercado-liebre.svg"  class="logo" alt="">
        <div class="container-search">
        <form action="" method="get" class="search-form">
          <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
          <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="title-header">
      <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>comprá en coutas y sin tarjecta de creditos</h2>
    </div>
    </div>
   

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>

            
<nav class="main-navbar">
    <ul class ="left-navbar" >
        <li>
            <a href="">oferta</a> </li>
        <li>
            <a href="">tienda oficiales </a></li>
        <li>
            <a href="">vender</a> </li>
        <li>
            <a href="">ayuda</a> </li>

    </ul>
    <ul class =" rigth-navbar">
        <li>
            <a href="/register">crea tu cuenta   </a><i class="far fa-address-card"></i>
        </li>
        <li>
            <a href="/login">ingresa </a><i class="fas fa-sign-in-alt"></i>
        </li>
        <li>
            <a href="">mis compras  </a><i class="fas fa-shopping-basket"></i>
        </li>

    </ul>

</nav>


    </header>

<div class="container">
    
<form action="/" class="form-container" method="">
<div class="logo">
    <img src="/images/perfil-oculto.jpg" alt="">

</div>

    <div class="input-general">
<label for="email">Email</label>
<input type="email" id="email">
</div>





<div class="input-general">
    <label for="pass">Contraseña</label>
<input type="password" id="pass">
</div>

<div class="input-general">
    <input type="checkbox" name="guardar" id=""> 
    <label for="guardar">recordar contraseña
      
    </label>   
    
</div>
<div>     
<a href="/"><button type="submit" class="btn btn-primary">Enviar</button></a>
   
        <button type="reset" class="btn btn-danger">Delete</button>
    </div> 


</form>
</div> 

<footer>
    <article class="footer-article">  
        <i class="fas fa-credit-card"></i>
        <h5>Pagá con tarjeta o en efectivo</h5>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="footer-article" >
        <i class="fas fa-gift"></i>
        <h5>Envío gratis desde $ 2.500</h5>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article class="footer-article">
        <i class="fas fa-user-shield"></i>
        <h5>Seguridad, de principio a fin</h5>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </article>
      <br>      
    <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</body>

</html>